{% extends 'back/base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="col-12">
    <h1>Ajouter une saison</h1>
</div>

{{ form_start(form) }}
    {{ form_row(form.seasonNumber) }}
    {{ form_row(form.publishedAt) }}
    {{ form_row(form.tvShow) }}
    {# On peut tout à fait insérer le bouton dans le twig plutot que dans le formulaire #}
    <button class="btn btn-danger">Ajouter</button>
{{ form_end(form) }}

{% endblock %}
