{% extends 'front/base.html.twig' %}

{% block title %}
  JOFLIX
{% endblock %}

{% block body %}
  <!-- main -->
  <div class="my-5 py-5 text-center">
    <img src="favicon.png" height="100" alt="Logo O'flix" class="mb-3" />
    <h1 class="display-6 fw-bold">
      Films, séries TV et popcorn en illimité.
    </h1>
  </div>

  <div class="container-xl bg-light p-5 border-top">
    <div class="row mb-2">
      <div class="col-12 col-lg-3">
        <h2 class="text-center text-muted fw-bold mb-4">
          Les genres
        </h2>
        <ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center">
          {% for category in categories %}
            <li class="btn btn-sm btn-outline-danger mx-1 mb-2 categories">
              {{ category.name }}
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-12 col-lg-9">
        <h2 class="text-muted fw-bold mb-4">
          Les nouveautés
        </h2>

        {% for tvShow in latestTvshows %}
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
            <div class="col-4 movie__poster">
              <img src="{{ tvShow.image }}" class="img-fluid pictures" />
            </div>
            <div class="col-8 p-4 d-flex flex-column position-static">
              <a href="" class="movie__favorite fs-1 my-2 mx-3 link-danger">
                <i class="bi bi-bookmark-plus"></i>
              </a>
              {% if (tvShow.seasons|length) == 1 %}
                <strong class="d-inline-block mb-2 text-primary">Film</strong>
              {% else %}
                <strong class="d-inline-block mb-2 text-primary">Série</strong>
              {% endif %}
              <h3 class="mb-1">
                {{ tvShow.title }}
              </h3>
              <p>
                <small>{{ tvShow.synopsis }}</small>
              </p>
              <p>
                Publié le {{ tvShow.publishedAt|date("d/m/Y") }}
              </p>
              <div class="d-flex" style="color: orange;">
                <i class="bi bi-hand-thumbs-up-fill"></i>
                <span class="ps-1">{{ tvShow.nbLikes }}</span>
              </div>
              <a href="{{
                path(
                  'tvshow_read',
                  {
                    id: tvShow.id
                  }
                )
                }}"
                class="fs-1 mt-3 text-danger align-self-start">
                <i class="bi bi-arrow-right-square links"></i>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
